body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
}

#timer {
    font-size: 48px;
    color: #e74c3c;
    margin: 20px 0;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#exercise {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}


.exercise-item {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.exercise-item img{
    display: none;
}
.active-exercise {
    font-weight: bold;
    background: #2196f3;
    color: #e3f2fd;
}
.active-exercise img,
.restHighlight img{
    display: block;
}
#timer-display {
    font-size: 48px;
    color: #333;
    margin: 20px 0;
}
.restHighlight {
    background: #ffe082;
    color: #795548;
    font-weight: bold;
}